
<h1> About this app </h1>

The team:
<table align="center" style="font-size: large">
  <tr>
    <td colspan="3">
      Przemysław Burczyk 
      Bartosz Janota 
      Aleksander Książek 
      Paweł Lipski 
      Piotr Mikoda 
    </td>
  </tr>
  
  <tr>
    <td>
      <b> Background </b>
      <p class="doc"> This system is a semestral project for Operational Research, 
      a course in the curriculum of Computer Science at Faculty of Computer Science, Electronics and Telecommunications
      of AGH University of Science and Technology in Cracow, Poland. </p>
    </td>
    <td>
      <b> Purposes </b>
      <table align="center" style="font-size: large">
        <tr><td class="about-list-cell"> estimate the Cuckoo search algorithm as a way to solve flow shop problem </td></tr>
        <tr><td class="about-list-cell"> provide a visual demonstration of how jobs are executed in flow shop </td></tr>
        <tr><td class="about-list-cell"> fiddle with jQuery, Rails, Scala and other technologies </td></tr>
      </table>
    </td>
    <td>
      <b> Sources </b>
        Lorem ipsum
    </td>
  </tr>

</table>

</p>


