
<h1> About this app </h1>

<table align="center" style="font-size: large">
  <tr> <td class="about-header">
    Team
  </td> </tr>

  <tr> <td class="about-content">
    <b> Przemysław Burczyk &middot;
    Bartosz Janota &middot;
    Aleksander Książek &middot;
    Piotr Mikoda </b> | back-end <br>
    <b> Paweł Lipski </b> | back-end, web service, front-end
  </td> </tr>
  
  <tr> <td class="about-header">
    Background
  </td> </tr>

  <tr> <td class="about-content">
    This system is a semestral project for Operational Research, 
    a course in the curriculum of Computer Science at Faculty of Computer Science, Electronics and Telecommunications
    of the AGH University of Science and Technology in Cracow, Poland. </p>
  </td> </tr>

  <tr> <td class="about-header">
    Purposes 
  </td> </tr>

  <tr> <td class="about-content">
    estimate the Cuckoo search algorithm as a way to solve flow shop problem  </br>
    provide a visual demonstration of how jobs are executed in flow shop </br>
    fiddle with jQuery, Rails, Scala and other technologies </br>
  </td> </tr>

</table>

</p>


