
<table width="100%">

<tr> 
<td width="30%">Client-side (browser) </td>
<td>jQuery + Twitter Bootstrap</td>
</tr>

<tr> <td colspan="2"> <font color="gray"> AJAX </td> </tr>

<tr> 
<td> Webapp </td>
<td> Ruby on Rails, deployed ON Heroku cloud </td> 
</tr>

<tr> <td colspan="2"> <font color="gray"> SOAP </td> </tr>

<tr> 
<td> Back-end </td>
<td> Cuckoo algorithm, further described <%= link_to "here", "cuckoo" %> </td> 
</tr>

</table>
