
<h1> About this app </h1>

<table align="center" style="font-size: large">
  <tr> <td class="about-header" colspan="3">
    <b> Team </b>
  </td> </tr>

  <tr> <td class="about-content" colspan="3">
    
    <b> Przemysław Burczyk &middot;
    Bartosz Janota &middot;
    Aleksander Książek &middot;
    Piotr Mikoda </b> | back-end <br>
    <b> Paweł Lipski </b> | back-end, web service, front-end
    
  </td> </tr>
  
  <tr>
    <td width="50%" class="about-main-cell">
      <b> Background </b> <br> <br>
      <p class="doc"> This system is a semestral project for Operational Research, 
      a course in the curriculum of Computer Science at Faculty of Computer Science, Electronics and Telecommunications
      of the AGH University of Science and Technology in Cracow, Poland. </p>
    </td>
    <td width="25%" class="about-main-cell">
      <b> Purposes </b> <br> <br>
      <table align="center" style="font-size: large">
        <tr><td class="about-list-cell"> estimate the Cuckoo search algorithm as a way to solve flow shop problem </td></tr>
        <tr><td class="about-list-cell"> provide a visual demonstration of how jobs are executed in flow shop </td></tr>
        <tr><td class="about-list-cell"> fiddle with jQuery, Rails, Scala and other technologies </td></tr>
      </table>
    </td>
    <td width="25%" class="about-main-cell">
      <b> Sources </b> <br> <br>
        Lorem ipsum
    </td>
  </tr>

</table>

</p>


