
<h1> About this app </h1>

<table align="center" style="font-size: large">
  <tr> <td class="about-header">
    Team
  </td> </tr>

  <tr> <td class="about-content">
    <b> Paweł Lipski (tilius) </b> | back-end, web service, front-end<br>
    <b> Bartosz Janota </b> | back-end, automated WebDriver tests <br>
    <b> Przemysław Burczyk &middot;
    Aleksander Książek &middot;
    Piotr Mikoda </b> | back-end 
  </td> </tr>
  
  <tr> <td class="about-header">
    Background
  </td> </tr>

  <tr> <td class="about-content">
    This system is a semestral project for Operational Research, 
    a course in the curriculum of Computer Science at the Faculty of Computer Science, Electronics and Telecommunications
    of the AGH University of Science and Technology in Cracow, Poland.
  </td> </tr>

  <tr> <td class="about-header">
    Purposes 
  </td> </tr>

  <tr> <td class="about-content">
    <ul style="list-style-type: square">
    <li style="padding-bottom: 5px"> check the Cuckoo Search algorithm performance as flow shop solver
    <li style="padding-bottom: 5px"> provide a visual demonstration of how jobs are executed in flow shop 
    <li> fiddle with jQuery, Rails, Scala and other technologies 
    </ul>
  </td> </tr>

  <tr> <td class="about-header">
    Sources 
  </td> </tr>

  <tr> <td class="about-content">
    <ul style="list-style-type: square">
    <li style="padding-bottom: 5px"> Front-end (a Rails app): <%= link_to "sources at GitHub", "/webapp-src" %> 
    <li> SOAP web service (written in Scala) &amp; back-end (written in Java): <%= link_to "sources at GitHub", "/ws-src" %> 
    </ul>
  </td> </tr>

  <tr> <td class="about-header">
    Credits 
  </td> </tr>

  <tr> <td class="about-content">
    <table> <tr>
    <% for name, url in [
        ["ajaxload", "ajaxload.info"],
        ["clker", "clker.com"],
        ["subtle_patterns", "subtlepatterns.com"],
        ["uptime_robot", "uptimerobot.com"]
    ] %>
      <td style="height: 10em; padding-left: 20px; padding-right: 20px">
        <%= link_to( image_tag("/assets/credits/#{name}.png"), "http://#{url}" ) %>
      </td>
    <% end %>
    </tr> </table>
  </td> </tr>
</table>

</p>


