
<h1> About this app </h1>

<p class="doc"> This application is a semestral project for Operational Research, a ## third-grade subject in ## 
Computer Science, Faculty of ###, AGH University of Science and Technology in Cracow, Poland. 
Its ##purpose is to experiment with Cuckoo algorithm as a way to solve flow shop problem
and to provide a friendly ### demonstration of the flow shop execution. </p>
