
<h1> About this app </h1>

<table align="center" style="font-size: large; text-align: center">
  <tr>
    <td colspan="3">
      <b> Team </b> <br> <br>
      <h3>
      <font face="Book Antiqua"> 
      Przemysław Burczyk <b>&middot;</b>
      Bartosz Janota <b>&middot;</b>
      Aleksander Książek <b>&middot;</b>
      Paweł Lipski <b>&middot;</b>
      Piotr Mikoda 
      </font>
      </h3>
    </td>
  </tr>
  
  <tr>
    <td width="50%" class="about-main-cell">
      <b> Background </b> <br> <br>
      <p class="doc"> This system is a semestral project for Operational Research, 
      a course in the curriculum of Computer Science at Faculty of Computer Science, Electronics and Telecommunications
      of the AGH University of Science and Technology in Cracow, Poland. </p>
    </td>
    <td width="25%" class="about-main-cell">
      <b> Purposes </b> <br> <br>
      <table align="center" style="font-size: large">
        <tr><td class="about-list-cell"> estimate the Cuckoo search algorithm as a way to solve flow shop problem </td></tr>
        <tr><td class="about-list-cell"> provide a visual demonstration of how jobs are executed in flow shop </td></tr>
        <tr><td class="about-list-cell"> fiddle with jQuery, Rails, Scala and other technologies </td></tr>
      </table>
    </td>
    <td width="25%" class="about-main-cell">
      <b> Sources </b> <br> <br>
        Lorem ipsum
    </td>
  </tr>

</table>

</p>


