
function createMockOrder() {
  var order = new Array(machineCnt)
  for (var m = 0; m < machineCnt; m++) {
    order[m] = new Array(jobCnt)
    for (var j = 0; j < jobCnt; j++) {
      order[m][j] =  j+1
    }
  }
  return order
}

function createMockTaskDef() {
  var taskDef = new Array(jobCnt)
  for (var j = 0; j < jobCnt; j++) {
    taskDef[j] = new Array(machineCnt)
    for (var m = 0; m < machineCnt; m++) {
      taskDef[j][m] = Math.floor((Math.random()*100)+1)
    }
  }
  return taskDef
}

function createMachineSchedArray() {
  var s = new Array(machineCnt)
  for (var i = 0; i < machineCnt; i++)
    s[i] = 1
  return s
}

function createNextOpForJobArray() {
  var s = new Array(jobCnt)
  for (var i = 0; i < jobCnt; i++)
    s[i] = 1
  return s
}

opWidth = 100
opHeight = 20

function loadAnimationScaffolding() {

  animContnr = $("#anim-container")

  animContnr.html('<div id="anim-machines-header" style="position: relative; left: 0; top: 0">' +
    '<h3><small>Machines</small></h3></div>')

  $("#anim-machines-header").append('<table id="anim-machines-table" width="100%"><tr id="anim-machines-tr"/></table>')
  for (var i = 1; i <= machineCnt; i++)
    $("#anim-machines-tr").append('<td id="anim-machine-td-' + i + '" width="20%">' + i + '</td>')

  animContnr.append('<table id="anim-jobs-table" width="100%"/>')
  animContnr.append('<button id="back-button" class="btn">Back</button>')

  $("#back-button").click(function() {
    $("#anim-container").fadeOut(1000, function() {
      $("#task-anim-btn-contnr-" + taskId).show()
      $("#task-list-container").show()
    })
  })
}

function loadQueueForJob(jobId) {
  $("#anim-jobs-table").append('<tr>' + 
    '<td id="done-job-' + jobId + '" style="width: 50%"/>' +
    '<td id="waiting-job-' + jobId +  '" style="border-left: solid; width: 50%"></td>' +
    '</tr>')
  var waitingTd = $("#waiting-job-" + jobId)

  for (var o = machineCnt; o >= 1; o--) {

    var opContnrId = 'job-' + jobId + '-op-' + o
    waitingTd.append('<div id="' + opContnrId + '" style="float: left; position: relative; ' + 
      'width: 15%; padding-right: 10px; padding-bottom: 10px"/>')
    var opContnr = $('#' + opContnrId)

      var opPbId = 'job-' + jobId + '-op-' + o + '-pb'
      opContnr.append('<div id="' + opPbId + '" style="float: left"/>')

      $('#' + opPbId).progressbar({ value: 1 }).height(opHeight).css('width', '100%')
      $('#' + opPbId + ' .ui-progressbar-value').css('visibility', 'hidden')


      var opLabelId = 'job-' + jobId + '-op-' + o + '-label'

      var labelText = taskDef[jobId - 1][o - 1]
      var labelHtml = '<div style="display: table; position:absolute; top:0; left:0; width:100%; height:' + opHeight + 
        'px; overflow: hidden">' + 
        '<div id="' + opLabelId + '" style="display: table-cell; vertical-align: middle" >' +
        '<center>' + labelText + '</center> </div> </div>'
      opContnr.append(labelHtml)
  }

}


function moveOpPbToDone(jobId, opId) { 
  var opContnr = $('#job-' + jobId + '-op-' + opId)

  opContnr.fadeOut(1000, function() {
    $(opContnr).detach().prependTo('#done-job-' + jobId).css('float', 'right').fadeIn(1000)
  })

}


function handleNextOpExecution(machineId) {

  var schedIndex = currentSchedIndex[machineId - 1]
  var jobId = order[machineId - 1][schedIndex - 1]
  var jobDuration = taskDef[jobId - 1][machineId - 1]

  var opPb = $('#job-' + jobId + '-op-' + machineId + '-pb .ui-progressbar-value')
  opPb.css('visibility', 'visible')

  opPb.animate({ width: 100 }, jobDuration * 50, function() {

    moveOpPbToDone(jobId, machineId)
  
    currentSchedIndex[machineId - 1] = ++schedIndex
    nextOpForJob[jobId - 1] = machineId + 1

    if (schedIndex <= jobCnt) {
      var nextJobOnThisMachine = order[machineId - 1][schedIndex - 1]

      if (nextOpForJob[nextJobOnThisMachine - 1] == machineId)
        handleNextOpExecution(machineId)
    }

    if (machineId < machineCnt) {

      var nextMachineId = machineId + 1
      var nextMachineSchedIndex = currentSchedIndex[nextMachineId - 1]
      
      if (nextMachineSchedIndex < jobCnt) {
        var nextMachineJobToDo = order[nextMachineId - 1][nextMachineSchedIndex - 1]

        if (nextMachineJobToDo == jobId)          
          handleNextOpExecution(nextMachineId)
      }
    }
  })

}

$("#task-list-container").fadeOut(1000, function() {

  taskId = <%= params[:taskId] %> // TODO - czy nie bedzie problemow z synciem przy Back buttonie?

  jobCnt = 20
  machineCnt = 5 // TODO - input = eruby

  taskDef = createMockTaskDef()

  order = createMockOrder()

  currentSchedIndex = createMachineSchedArray()
  nextOpForJob = createNextOpForJobArray()

  loadAnimationScaffolding()

  for (var job = 1; job <= jobCnt; job++)
    loadQueueForJob(job)

  $("#anim-container").fadeIn(1000, function() {
      handleNextOpExecution(1)
  })

})


