
alert('init task from URL')

newTaskIds = <%= raw(@task_ids) %> 

console.log(newTaskIds)

for (var i = 0; i < newTaskIds.length; i++) {
  
  newTaskId = newTaskIds[i]

  taskIds[newTaskId] = true
  console.log(newTaskId)
  console.log(taskIds)

  //$("#ajax-status").html('Task initialized, number given: ' + newTaskId + ', all tasks: ' + Object.keys(taskIds))

  pbId = 'progressbar-' + newTaskId
  hdrTrId = 'task-hdr-tr-' + newTaskId
  hdrTdId = 'task-hdr-td-' + newTaskId

  detTrCls = 'task-det-tr-' + newTaskId
  $('#task-table > tbody').append(
    '<tr id="' + hdrTrId + '" style="display: none; border-bottom: 1px solid LightGray"><td width="25%" style="padding-top: 30px">Task #' + newTaskId + '</td>' +
    '<td id="' + hdrTdId + '" width="75%" colspan="3" style="padding-top: 10px"><div id="' + pbId + '"></div></td></tr>' + 
    '<tr class="' + detTrCls + '" style="display: none; "><th width="25%" style="padding-bottom: 20px; padding-top: 10px">Lorem</th><th width="25%">Ipsum</th><th width="25%">Dolor</th><th width="25%">Sit</th></tr>' +
    '<tr class="' + detTrCls + '" style="display: none"><td style="padding-bottom: 20px; padding-top: 10px">Lorem</td><td>Ipsum</td><td>Dolor</td><td>Sit</td></tr>')
  
  $('#' + pbId).progressbar({ value: false }).height(10)
  $('#' + pbId + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
  $('#' + hdrTrId).show(500)
}
