
opWidth = 100
opHeight = 20

function loadAnimationScaffolding(machineCnt) {

  animContnr = $("#anim-container")

  animContnr.html('<div id="anim-machines-header" style="position: relative; left: 0; top: 0">' +
    '<h3><small>Machines</small></h3></div>')

  $("#anim-machines-header").append('<table id="anim-machines-table" width="100%"><tr id="anim-machines-tr"/></table>')
  for (var i = 1; i <= machineCnt; i++)
    $("#anim-machines-tr").append('<td id="anim-machine-td-' + i + '" width="20%">' + i + '</td>')

  animContnr.append('<table id="anim-jobs-table"/>')
  animContnr.append('<button id="back-button" class="btn">Back</button>')

  $("#back-button").click(function() {
    $("#anim-container").hide(1000, function() {
      $("#task-list-container").show()
    })
  })
}

function loadQueueForJob(jobId, machineCnt) {
  $("#anim-jobs-table").append('<tr><td id="waiting-job-' + jobId +  '" style="border-right: solid"></td>' +
    '<td id="done-job-' + jobId + '"/></tr>')
  var waitingTd = $("#waiting-job-" + jobId)

  for (var i = 1; i <= machineCnt; i++) {

    var opContnrId = 'job-' + jobId + '-op-' + i
    waitingTd.append('<div id="' + opContnrId + '" style="float: left; position: relative"/>')
    var opContnr = $('#' + opContnrId)

      var opPbId = 'job-' + jobId + '-op-' + i + '-pb'
      opContnr.append('<div id="' + opPbId + '" style="float: left"/>')
      $("#" + opPbId).progressbar({value: 10*i}).width(opWidth).height(opHeight)

      var opLabelId = 'job-' + jobId + '-op-' + i + '-label'

      var label = '<div style="display: table; position:absolute; top:0; left:0; width:100px; height:' + opHeight + 'px; overflow: hidden">' + 
        '<div id="' + opLabelId + '" style="display: table-cell; vertical-align: middle" > <center>foo</center> </div> </div>'
      opContnr.append(label)
  }

}

function updateExecutionProgress(jobId, opId, val) {
  var op = $('#job-' + jobId + '-op-' + opId + '-pb')
  op.progressbar({value: val}).height(opHeight)
  if (val < 100) {
    setTimeout(function() {
      updateExecutionProgress(jobId, opId, val + 10)
    }, 1000)
  } else {
    op.fadeOut(1000, function() {
      $(op).detach().prependTo('#done-job-' + jobId).fadeIn(1000)
    })
  }
}

function displayAndStartAnimation(/*TODO*/ jobId) {
  $("#anim-container").fadeIn(1000, function() {
  
    setTimeout(function() {
      updateExecutionProgress(jobId, 5, 10)
    }, 1000)

  })
}

$("#task-list-container").hide(1000, function() {

  var jobId = 12345 // TODO
  var machineCnt = 5 // TODO

  loadAnimationScaffolding(machineCnt)

  loadQueueForJob(jobId, machineCnt)

  displayAndStartAnimation(jobId /* TODO */)

})


