//$("#ajax-status").append('<br>Progress: <%= @all_progresses.to_s %>')

<% 
puts @all_progresses[:item]

p = @all_progresses[:item]
p = [ p ] unless p.kind_of?(Array)

puts p.to_json  
%>

tasks = <%= raw(p.to_json) %>

for (i = 0; i < tasks.length; i++) {

  task = tasks[i]
  pbSel = "#progressbar-" + task.id
  hdrTrSel = "#task-hdr-tr-" + task.id
  hdrTdSel = "#task-hdr-td-" + task.id
  detTrSel = "#task-det-tr-" + task.id

  if (task.progress == '100') {
    $(pbSel).progressbar({value: 100})
    delete taskIds[parseInt(task.id)]
    $(pbSel).hide(1000, function() {
      $(hdrTdSel).html('<b>Result: 12345</b><button class="btn btn-large btn-task-animate" style="float: right">Animate</button>')
      $(detTrSel).show(1000)
    })
  } else {
    $(pbSel).progressbar({value: parseInt(task.progress) * 10})   
    $(pbSel + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
  }
}

