
function loadAnimationScaffolding(machineCnt) {

  $("#content").html('<div id="anim-machines-header" style="position: relative; left: 0; top: 0">' +
    '<h3><small>Machines</small></h3></div>')         

  $("#anim-machines-header").append('<table id="anim-machines-table" width="100%"><tr id="anim-machines-tr"/></table>')
  for (var i = 1; i <= machineCnt; i++)
    $("#anim-machines-tr").append('<td id="anim-machine-td-' + i + '" width="20%">' + i + '</td>')

  $("#content").append('<table id="anim-table"/>')

}

function loadQueueForTask(taskId, machineCnt) {
  $("#anim-table").append('<tr><td id="waiting-td-' + taskId +  '" style="border-right: solid"></td>' +
    '<td id="done-td-' + taskId + '"/></tr>')
  var waitingTd = $("#waiting-td-" + taskId)

  for (var i = 1; i <= machineCnt; i++) {

    var opContnrId = 'task-' + taskId + '-op-' + i
    waitingTd.append('<div id="' + opContnrId + '" style="float: left; position: relative"/>')
    var opContnr = $('#' + opContnrId)

      var opPbId = 'task-' + taskId + '-op-' + i + '-pb'
      opContnr.append('<div id="' + opPbId + '" style="float: left"/>')
      $("#" + opPbId).progressbar({value: 10*i}).width(100).height(20)

      var opLabelId = 'task-' + taskId + '-op-' + i + '-label'

      var label = '<div style="display: table; position:absolute; top:0; left:0; width:100px; height:50px; overflow: hidden">' + 
        '<div id="' + opLabelId + '" style="display: table-cell; vertical-align: middle" > <center>foo</center> </div> </div>'
      opContnr.append(label)
  }

}

function updateExecutionProgress(taskId, opId, val) {
  var op = $('#task-' + taskId + '-op-' + opId + '-pb')
  op.progressbar({value: val}).height(50)
  if (val < 100) {
    setTimeout(function() {
      updateExecutionProgress(taskId, opId, val + 10)
    }, 1000)
  } else {
    op.fadeOut(1000, function() {
      $(op).detach().prependTo('#done-td-' + taskId).fadeIn(1000)
    })
  }
}

function displayAndStartAnimation(/*TODO*/ taskId) {
  $("#content").fadeIn(1000, function() {
  
    setTimeout(function() {
      updateExecutionProgress(taskId, 5, 10)
    }, 1000)

  })
}

$("#content").hide(function() {

  var taskId = <%= params[:taskId] %>
  var machineCnt = 5 // TODO

  loadAnimationScaffolding(machineCnt)

  loadQueueForTask(taskId, machineCnt)

  displayAndStartAnimation(taskId /* TODO */)

})


