//$("#ajax-status").append('<br>Progress: <%= @all_progresses.to_s %>')

<% 
#puts @all_progresses[:item]

p = @all_progresses[:item]
p = [ p ] unless p.kind_of?(Array)

#puts p.to_json  
%>

tasks = <%= raw(p.to_json) %>

function updateProgresses(task) {

  var pbSel = "#progressbar-" + task.id
  var hdrTrSel = "#task-hdr-tr-" + task.id
  var hdrTdSel = "#task-hdr-td-" + task.id
  var detTrSel = ".task-det-tr-" + task.id
  var animBtnId = "task-anim-btn-" + task.id
  var animBtnContnrId = "task-anim-btn-contnr-" + task.id

  if (task.progress == '100') {
    $(pbSel).progressbar({value: 100})
    delete taskIds[parseInt(task.id)]
    
    $(pbSel).hide(1000, function() {      
      $(hdrTdSel).append('<b>Result: 12345</b>' + 
        '<span id="' + animBtnContnrId + '">' + 
        '<button id="' + animBtnId + '" class="btn btn-large btn-task-animate" style="float: right">Animate</button>' +
        '</span>')
      
      $(detTrSel).show(1000)

      var animBtnContnr = $("#" + animBtnContnrId)
      var animBtn =  $("#" + animBtnId)

      animBtn.click(function() { 

        animBtn.detach()        
        animBtnContnr.html('<%= image_tag "ajax-loader.gif", style: "float: right" %>')

        $.ajax({
          url: '/ajax/load-animation',
          data: { taskId: task.id },
          success: function() {
            animBtnContnr.empty().hide().append(animBtn)
          }
        })
      })

    })

  } else {
    $(pbSel).progressbar({value: parseInt(task.progress) * 10})   
    $(pbSel + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
  }
}

for (var i = 0; i < tasks.length; i++)
  updateProgresses(tasks[i])

