var newTaskId = <%= @task_id %> 
taskIds[newTaskId] = true
$("#ajax-status").html('Task initialized, number given: ' + newTaskId + ', all tasks: ' + Object.keys(taskIds))

//$('#pb-container').append('<div id="' + pbid + '"/>')

pbId = 'progressbar-' + newTaskId
hdrTrId = 'task-hdr-tr-' + newTaskId
hdrTdId = 'task-hdr-td-' + newTaskId

detTrId = 'task-det-tr-' + newTaskId
$('#task-table > tbody').append(
  '<tr id="' + hdrTrId + '" style="display: none"><td width="10%"><b>Task #' + newTaskId + '</b></td>' +
  '<td id="' + hdrTdId + '"><div id="' + pbId + '"></div></td></tr>' + 
  '<tr id="' + detTrId + '" style="display: none"><td>Foobar</td></tr>')
$('#' + pbId).progressbar({ value: false }).height(10)
$('#' + hdrTrId).show(500)

