var newTaskId = <%= @task_id %> 
taskIds.push(newTaskId)
$("#ajax-status").html('Task initialized, number given: ' + newTaskId + ', all tasks: ' + taskIds)

//$('#pb-container').append('<div id="' + pbid + '"/>')

pbId = 'progressbar-' + newTaskId
$('#task-table > tbody').append('<tr><td><div id="' + pbId + '"></div></td></tr>')
$('#' + pbId).progressbar({ value: false }).height(30)

