var newTaskId = <%= @task_id %> 
taskIds[newTaskId] = true

//$("#ajax-status").html('Task initialized, number given: ' + newTaskId + ', all tasks: ' + Object.keys(taskIds))

pbId = 'progressbar-' + newTaskId
hdrTrId = 'task-hdr-tr-' + newTaskId
hdrTdId = 'task-hdr-td-' + newTaskId

detTrCls = 'task-det-tr-' + newTaskId
$('#task-table > tbody').prepend(
  '<tr id="' + hdrTrId + '" style="display: none; border-bottom: 1px solid LightGray"><td width="15%" style="padding-top: 30px"><h4>Task #' + newTaskId + '</h4></td>' +
  '<td width="15%" style="padding-top: 10px">foo machines, bar jobs</td>' + 
  '<td id="' + hdrTdId + '" width="70%" colspan="2" style="padding-top: 10px"><div id="' + pbId + '"></div></td></tr>' + 
  '<tr class="' + detTrCls + '" style="display: none; "><th width="25%" style="padding-bottom: 20px; padding-top: 10px">Lorem</th><th width="25%">Ipsum</th><th width="25%">Dolor</th><th width="25%">Sit</th></tr>' +
  '<tr class="' + detTrCls + '" style="display: none"><td style="padding-bottom: 20px; padding-top: 10px">Lorem</td><td>Ipsum</td><td>Dolor</td><td>Sit</td></tr>')
//    '</table>' +
  //'</tr>')
$('#' + pbId).progressbar({ value: false }).height(10)
$('#' + pbId + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
$('#' + hdrTrId).show(500)

