//$("#ajax-status").append('<br>Progress: <%= @all_progresses.to_s %>')

<% 
#puts @all_progresses[:item]

p = @all_progresses[:item]
p = [ p ] unless p.kind_of?(Array)

#puts p.to_json  
%>

tasks = <%= raw(p.to_json) %>

function updateProgresses(task) {
  var pbSel = "#progressbar-" + task.id
  var hdrTrSel = "#task-hdr-tr-" + task.id
  var hdrTdSel = "#task-hdr-td-" + task.id
  var detTrSel = ".task-det-tr-" + task.id
  var animBtnId = "task-anim-btn-" + task.id

  if (task.progress == '100') {
    $(pbSel).progressbar({value: 100})
    delete taskIds[parseInt(task.id)]
    
    $(pbSel).hide(1000, function() {      
      $(hdrTdSel).append('<b>Result: 12345</b>' + 
        '<button id="' + animBtnId + '" class="btn btn-large btn-task-animate" style="float: right">Animate</button>')
      
      $(detTrSel).show(1000)

      $("#" + animBtnId).click(function() { 
      $("#content").fadeOut(1000, function() {
          $("#content").html('<div id="anim-machines-header" style="height: 10.2em; position: relative; left: 0; top: 0">foo</div>')         
          $("#content").append('<table id="anim-table"/>')
          $("#content").show()

          //$("#anim-table").html(
            //'<tr height="5%" id="anim-machines-header" style="border-bottom: solid; border-color: gray"><td colspan="2"></td></tr>' +
            //'<tr height="5%" id="anim-machines"><td colspan="2"></td></tr>' +
          //)

          $("#anim-table").append('<tr><td id="flow-td-1" style="border-right: dotted"></td></tr>')
          flowTd = $("#flow-td-1")
          for (i = 1; i <= 5; i++) {

            opContnrId = 'task-' + task.id + '-op-' + i
            flowTd.append('<div id="' + opContnrId + '" style="float: left; position: relative"/>')
            opContnr = $('#' + opContnrId)

              opPbId = 'task-' + task.id + '-op-' + i + '-pb'
              opContnr.append('<div id="' + opPbId + '" style="float: left"/>')
              $("#" + opPbId).progressbar({value: 10*i}).width(100).height(50)

              opLabelId = 'task-' + task.id + '-op-' + i + '-label'

              label = '<div style="display: table; position:absolute; top:0; left:0; width:100px; height:50px; overflow: hidden">' + 
                '<div id="' + opLabelId + '" style="display: table-cell; vertical-align: middle" > <center>foo</center> </div> </div>'
              opContnr.append(label)

          }
        })
      })
    })


  } else {
    $(pbSel).progressbar({value: parseInt(task.progress) * 10})   
    $(pbSel + ' .ui-progressbar-value').css({"transition": "width 0.5s", "-webkit-transition": "width 0.5s"})
  }
}

for (i = 0; i < tasks.length; i++)
  updateProgresses(tasks[i])

