
<h1> Contact </h1>

<center>
<p> You're welcome to report any bugs and suggest improvements via </p>
<p> <%= image_tag "/assets/email.png" %> </p>
<p> See also the sources of 
<%= link_to "this web app", "/webapp-src" %> and <%= link_to "web service", "/ws-src" %>
hosted on GitHub. </p>
</center>

