
<h1> Contact </h1>

<p> You're welcome to report any bugs and suggest an improvements via <b>pawel DOT p DOT lipski AT gmail DOT com</b> </p>
<p> See also the sources of 
<%= link_to "this web app", "/webapp-src" %> and <%= link_to "web service", "/ws-src" %>
hosted on GitHub. </p>
</p>

