

<table id="launch-table" width="100%">
  <tr>
    <td width="40%" valign="top" style="border-right: 1px solid lightgray; padding-right: 5px">
      <div style="float: left"> 
	<font color="gray"><h4> Use sample test case </h4></font>
      </div>
      <div style="float: right"> 
	<button id="launch-sample-btn" class="btn btn-primary">Launch</button>
      </div>
    </td>    
    <td width="10px"/>
    <td valign="top" style="border-bottom: 1px solid lightgray">
      <div style="float: left"> 
	<font color="gray"><h4> Paste test case URL </h4></font>
      </div>
      <div style="float: right"> 
	<button id="launch-url-btn" class="btn btn-primary">Submit</button>
      </div>
    </td>
  </tr>
  
  <tr>
    <td valign="top" style="border-right: 1px solid lightgray">
      <font color="gray"> Sample data from Taillard's collection (TODO link) </font>
    </td>
    <td width="10px"/>
    <td style="padding-top: 5px">
      <input id="input-url" value="http://mistic.heig-vd.ch/taillard/problemes.dir/ordonnancement.dir/flowshop.dir/tai20_5.txt"/>
    </td>
  </tr>
  
  <tr>    
    <td rowspan="2" valign="top" style="border-right: 1px solid lightgray">
      <table width="100%">       
	<tr height="20%">
	  <td width="50%" style="border-right: 1px solid lightgray; font-color: gray"><font color="gray">Group</font></td>
	  <td width="50%" style="padding-left: 5px"><font color="gray">Offset</font></td>
	</tr> 
	<tr height="80%">
	  <td style="border-right: 1px solid lightgray; padding-right: 10px">

	    <select size="3">
	      <% for j, m in [[20,5], [20, 10], [20, 20], [50, 5], [50, 10], [50, 20]] %>
		<option> <%= j %> jobs, <%= m %> machines </option>
	      <% end %>	      
	    </select>
	  </td>
	  <td style="padding-left: 10px; padding-right: 10px">
	    <select size="3">
	      <% for i in 1..10 %>
		<option> Test #<%= i %> </option>
	      <% end %>
	    </select>
	  </td>
	</tr>
      </table>
    </td>
    <td width="10px"/>
    <td valign="top" style="border-bottom: 1px solid lightgray">
      <div style="float: left"> 
	<font color="gray"><h4> Paste test case contents </h4></font>
      </div>
      <div style="float: right"> 
	<button id="launch-pasted-btn" class="btn btn-primary">Submit</button>
      </div>
    </td>
  </tr>
  
  <tr>    
    <td width="10px"/>
    <td style="padding-top: 5px">
      <textarea id="pasted-text"></textarea>
    </td>
  </tr>
</table>


<table id="task-table" width="100%">
  <tbody>
  </tbody>
</table>  


<script>

progressCheckRunning = false
initTaskLocked = false
taskIds = {}

ongoingAnimationId = 0

function get_progress() {
  if (Object.keys(taskIds).length == 0) 
    progressCheckRunning = false
  else  
    $.ajax({
      url: "/testcase/ajax/get-all-progresses", 
      data: { "taskIds": Object.keys(taskIds) },
      success: get_progress
    })
}      

function lockTaskLaunching() {
  if (initTaskLocked) 
    return false
    
  initTaskLocked = true
  
  return true
}

function unlockTaskLaunching() {
  initTaskLocked = false
}

$(document).ready(function() {
  
  
  $("#launch-pasted-btn").click(
    function() {
      
      if (!lockTaskLaunching()) return

      $.ajax({
	url: "/testcase/ajax/post-task-from-pasted",
	type: "POST",
	contentType: "application/soap+xml; charset=utf-8",
	data: $("#pasted-text").val(),
	success: function() {
	  
	  unlockTaskLaunching()

	  if (!progressCheckRunning) {
	    progressCheckRunning = true
	    get_progress()
	  }
      }
    })

  })
  
  $("#launch-url-btn").click(
    function() {
            
      var srcUrl = $("#input-url").val()      
      if (srcUrl.match(/^\s*$/)) return // whitespace-only

      if (!lockTaskLaunching()) return

      $.ajax({
	url: "/testcase/ajax/post-task-from-url",
	type: "POST",	
	data: { srcUrl: srcUrl },
	
	complete: function() {
	  unlockTaskLaunching()
	},
	
	error: function(XMLHttpRequest, textStatus, errorThrown) {
	  $("<div>The specified URL does not point to a valid Flow Shop test case data!</div>").appendTo("#task-list-container")
	    .dialog({ 
	      title: "Error",
	      buttons: [ 
		{ text: "Ok", click: function() { $(this).dialog("close"); } } 
	      ]
	    })
	    $(".ui-dialog-titlebar-close").css({ display: "none" })
	},
	
	success: function() {	  
	  if (!progressCheckRunning) {
	    progressCheckRunning = true
	    get_progress()
	  }
	}
      })

   })  
})
</script>

