
<h1> The flow shop problem </h1>

<table width="70%" align="center"> <tr> <td>
<p class="doc"> 
There are <i>n</i> machines and <i>m</i> jobs. 
Each job contains exactly <i>n</i> operations. 
<i>i</i>-th operation of the job must be executed <b> on the <i>i</i>-th machine</b>.
No machine can <b>perform more than one operation</b> simultaneously.
For each operation of each job, execution time is specified.
</p>

<p class="doc"> 
Operations within one job must be <b>performed in the specified order</b>. 
The first operation gets executed on the first machine, then (as the first operation is finished) the second operation on the second machine, and so until the <i>n</i>-th operation. 
Jobs can be executed in any order, however. 
Problem definition implies that this job order is exactly the same for each machine.
The problem is to determine the optimal such arrangement, i.e. the one with <b>the shortest possible total job execution timespan</b>. 
</p>

<p class="doc"> 
The problem is <b>NP-complete for <i>n</i> &gt; 2</b>, which renders it almost impossible to find an optimal solution for large <i>n</i>. 
Various heuristics are employed, including the <%= link_to "Cuckoo Search algorithm", "algorithm" %> - as we did in Posh Wolf.
</p>

</td> </tr> </table>

