
<h1> ## The web application albo moze: GENERAL??? </h1>

<p class="doc"> This application is a semestral project for Operational Research, a ## third-grade subject in ## 
Computer Science, Faculty of ###, AGH University of Science and Technology in Cracow, Poland. 
Its ##purpose is to experiment with Cuckoo algorithm as a way to solve flow shop problem
and to provide a friendly ### demonstration of the flow shop execution. </p>

<table width="100%">

<tr>
<td width="30%">Client-side (browser) </td>
<td>Web interface for visualization of flow shop problem instances. Uses jQuery and Twitter Bootstrap.</td>
</tr>

<tr> <td colspan="2" align="center"> <font color="gray"> <h3> AJAX </td> </tr>

<tr> 
<td> Webapp </td>
<td> 
Web app built with Ruby on Rails. Based mainly on AJAX.
Handles requests from browsers wrapping them in SOAP envelope (with Savon gem) and passes to the web service.
Deployed ###ON Heroku cloud. </td> 
</tr>

<tr> <td colspan="2" align="center"> <font color="gray"> <h3> SOAP </td> </tr>

<tr> 
<td> Web service </td>
<td> 
SOAP web service, implemented in Scala ## with JAX-WS. ## Employs Scala actors ## for ## asynchronous task scheduling and execution. 
## Publishes!!! web API, which enables enqueueing flow shop tasks, checking progress and partial results for ongoing tasks and retrieving result for complete tasks. 
Hosted ###ON Heroku cloud. </td>
</tr>

<tr> <td colspan="2" align="center"> <font color="gray"> <h3> Direct access </td> </tr>

<tr> 
<td> Back-end </td>
<td> 
Cuckoo algorithm implemented in Java by Aleksander Książek and Przemysław Burczyk. 
A detailed description may be found <%= link_to "here", "algorithm" %>. 
</td> 
</tr>

</table>

