<footer class="footer">
  <small>
    <b>Posh Wolf</b>, a flow shop solver by tilius &amp; Team
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>      
      <li><%= link_to "Contact", '/contact' %></li>
      <li><%= link_to "Webapp@GitHub", '/webapp-src' %></li>
      <li><%= link_to "Back-end@GitHub", '/ws-src' %></li>
    </ul>
  </nav>
</footer>

